<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 使用spring创建对象
     类型 变量名 = new 类型();
     Hello hello = new Hello();

     id = 对象名称
     class = new的对象（本质与import一致）
     properties 给属性设置值
     -->
    <bean id="hello" class="com.example.springboothelloworld.bean.pojo.Hello">
        <property name="str" value="wanyu"/>
    </bean>

<!--    &lt;!&ndash; 使用下标幅值 &ndash;&gt;-->
<!--    <bean id="hello" class="com.example.springboothelloworld.bean.pojo.Hello">-->
<!--        <constructor-arg index="0" value="hello"/>-->
<!--    </bean>-->

    <!-- 使用类型创建，不建议使用 -->
<!--    <bean id="hello" class="com.example.springboothelloworld.bean.pojo.Hello">
        <constructor-arg type="java.lang.String" value="12345"/>
    </bean>-->



</beans>