<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 使用spring创建对象
     类型 变量名 = new 类型();
     Hello hello = new Hello();

     id = 对象名称
     class = new的对象（本质与import一致）
     properties 给属性设置值
     -->
    <!-- 1，无参构造 -->
<!--    <bean id="hello" class="com.example.springboothelloworld.bean.pojo.Hello">
        <property name="str" value="wanyu"/>
    </bean>-->

    <!-- 2.1有参构造：下标 -->
<!--    <bean id="hello" class="com.example.springboothelloworld.bean.pojo.Hello">
        <constructor-arg index="0" value="wanyu"/>
    </bean>-->

    <!-- 2.2有参构造：类型 -->
<!--    <bean id="hello" class="com.example.springboothelloworld.bean.pojo.Hello">
        <constructor-arg type="java.lang.String" value="wanyu"/>
    </bean>-->

    <!-- 2.2有参构造：入参名 -->
    <bean id="hello" class="com.example.springboothelloworld.bean.pojo.Hello" name="hello2,h2">
        <constructor-arg name="str" value="wanyu"/>
    </bean>
    <alias name="hello" alias="helloRandom"/>

    <bean id="helloT" class="com.example.springboothelloworld.bean.pojo.HelloT">
    </bean>



</beans>